<div class="gologin container my-auto">
  
     <ul class ="nav">
     <li class="nav-item">
      <h3><a class="nav-link mb-1" href="./login">lOG IN</a></h3>
     </li>
     <li class="nav-item">
      <h3><a class="nav-link mb-1" href="./join">JOIN</a></h3>
     </li>
     </ul>
    </div>
    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">WELCOM CAFE</a>

        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#page-top">Home</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#services">CAFE</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#portfolio">ORDER</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#contact">Contact</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="./owner">사장님 페이지</a>
        </li>
      </ul>
    </nav>